<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<ul class="nav nav-tabs" role="tablist">
	<li class="active">
	<a href="#" onclick="DTM_activate("DTM-67217d8b40","1", 0); return false;">
	First label
	<img name="DTM-67217d8b40-1-REQ" src="gfx/clear.gif" class="t3-TCEforms-reqTabImg" alt="" />
	</a>
	</li>
	<li id="DTM-67217d8b40-2-MENU">
	<a href="#" onclick="DTM_activate("DTM-67217d8b40","2", 0); return false;">
	Second label
	<img name="DTM-67217d8b40-2-REQ" src="gfx/clear.gif" class="t3-TCEforms-reqTabImg" alt="" />
	</a>
	</li>
</ul>